* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
}

.sidebar {
    background-color:rgb(88, 90, 99);
    height: 100vh;
    width: 12vw;
}

.sidebar-content {
    padding-top: 10px;
}

.sidebar-header {
    font-size: x-large;
}

.sidebar li {
    font-size: large;
    margin-top: 15%;
}

.sidebar a {
    padding-left: 8%;
}

.header {
    background-color: rgb(69, 71, 78);
    height: 5vh;
    width: 88vw;
}

.content-header {
    font-size: xx-large;
    padding-top: 0.5%;
    padding-left: 2%;
}

.main {
    background-color: rgb(130, 133, 146);
    height: 95vh;
    width: 88vw
}

.calculation-modules {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.device-panel {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 4vh;
    width: 80vw;
}

.device-panel-list {
    display: flex;
    gap: 10px;
}

.device-panel-list button {
    background-color: rgb(214, 214, 214);
    color: black;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-top: 2px;
}

.device-panel-list button:hover {
    background-color: rgb(223, 222, 222);
}

.selected-devices {
    display: flex;
    gap: 20px;
}

.selected-devices p {
    color:black;
}

.device {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: white;
    border-radius: 25px;
    height: 15.5vh;
    width: 11.5vw;
    margin-top: 20px;
}

.device-name {
    padding-left: 15px;
}

.device-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.device-img {
    height: 70px;
    width: 70px;
    border-radius: 10px;
}

.device-details li{
    display: flex;
    gap: 5px;
}

.device-details button {
    background-color: rgb(214, 214, 214);
    color: black;
    border-style: none;
    border-radius: 30%;
    height: 20px;
    width: 20px;
}

.device-details button:hover {
    background-color: rgb(223, 222, 222);
}

.device-result {
    padding-left: 15px;
}

.device-result li {
    display: flex;
    gap: 5px;
}