* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
}

.container {
    display: flex;
}

.sidebar {
    background-color:rgb(88, 90, 99);
    height: 100vh;
    width: 12vw;
}

.sidebar a {
    color: white;
}

.sidebar-content {
    padding-top: 10px;
}

.sidebar-header {
    font-size: x-large;
}

.sidebar li {
    font-size: large;
    margin-top: 15%;
}

.sidebar a {
    padding-left: 8%;
}

.header {
    background-color: rgb(69, 71, 78);
    height: 5vh;
    width: 88vw;
}

.content-header {
    color: white;
    font-size: xx-large;
    padding-top: 0.5%;
    padding-left: 2%;
}

.main {
    background-color: rgb(130, 133, 146);
    height: 95vh;
    width: 88vw
}

.calculation-modules {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.device-panel {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 4vh;
    width: 80vw;
}

.device-panel-list {
    display: flex;
    gap: 10px;
}

.device-panel-list button {
    background-color: rgb(214, 214, 214);
    color: black;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-top: 2px;
}

.device-panel-list button:hover {
    background-color: rgb(223, 222, 222);
}

#modal-light {
    background-color: white;
    color: black;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 290px;
    padding-left: 10px;
    padding-top: 10px;
    z-index: 101;
}

.button-close-line {
    text-align: right;
    padding-right: 10px;
}

.button-close {
    color: black;
    border-style: none;
    border-radius: 30%;
    height: 20px;
    width: 20px;
}

.button-close:hover {
    background-color: rgb(223, 222, 222);
    border: 2px solid black;
}

.modal-light-type {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.modal-light-select {
    font-weight: 650;
    appearance: none;
    padding: 2px 7px;
}

.modal-light-select:hover {
    background-color: rgb(223, 222, 222);
    border: 2px solid black;
}

.modal-light-parameters {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.button-counting {
    background-color: rgb(214, 214, 214);
    color: black;
    border-style: none;
    border-radius: 30%;
    height: 20px;
    width: 20px;
}

.button-counting:hover {
    background-color: rgb(223, 222, 222);
    border: 2px solid black;
}

#button-create-modal-light {
    margin-top: 15px;
}

.button-create {
    background-color: rgb(214, 214, 214);
    color: black;
    border-style: none;
    border-radius: 6px;
    height: 25px;
    width: 75px;
}

.button-create:hover {
    background-color: rgb(223, 222, 222);
    border: 2px solid black;
}

#shadow-background {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.selected-devices {
    display: flex;
    gap: 20px;
}

.selected-devices p {
    color:black;
}

.device {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: white;
    border-radius: 25px;
    height: 15.5vh;
    width: 13vw;
    margin-top: 20px;
    padding-left: 15px;
}

.device li{
    display: flex;
    gap: 5px;
}

.device-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.device-img {
    height: 70px;
    width: 70px;
    border-radius: 10px;
}