* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
}

.sidebar {
    background-color:rgb(88, 90, 99);
    height: 100vh;
    width: 12vw;
}

.sidebar a {
    padding-left: 8%;
}

.sidebar-header {
    font-size: x-large;
}

.sidebar li {
    font-size: large;
    margin-top: 15%;
}

.header {
    background-color: rgb(69, 71, 78);
    height: 5vh;
    width: 88vw;
}

.content-header {
    font-size: xx-large;
    padding-top: 0.5%;
    padding-left: 2%;
}

.main {
    background-color: rgb(130, 133, 146);
    height: 95vh;
    width: 88vw
}